In [1]:
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sklearn
import seaborn as sns
import sqlite3
from sqlalchemy import create_engine

In [2]:
# Does not work - file too large - using method below to load in portion of full dataframe
# acc_df = pd.read_csv('accepted_2007_to_2018Q4.csv')

In [3]:
DIR = '/home/arlisscoates/Documents/NYCDSA_Projects/Capstone/'
FILE = 'accepted_2007_to_2018Q4.csv'

file = '{}{}'.format(DIR, FILE)

print('File directory: {}'.format(file))

File directory: /home/arlisscoates/Documents/NYCDSA_Projects/Capstone/accepted_2007_to_2018Q4.csv

In [4]:
df = pd.read_csv(file, nrows=2000)

In [5]:
df.head(5)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68341763,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,66310712,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,68476807,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
csv_database = create_engine('sqlite:///csv_database.db')

In [22]:
chunksize = 10000
i = 0
j = 0

for df in pd.read_csv(file, chunksize=chunksize, iterator=True):
    df = df.rename(columns = {c:c.replace(' ', '') for c in df.columns})
    df.index += j
    
    df.to_sql('data_use', csv_database, if_exists = 'append')
    j = df.index[-1]+1
    
    print(' | index: {}'.format(j))

 | index: 10000
 | index: 30000
 | index: 60000

/home/arlisscoates/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (19,59) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

 | index: 100000
 | index: 150000
 | index: 210000
 | index: 280000
 | index: 360000
 | index: 450000
 | index: 550000

/home/arlisscoates/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (59) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

 | index: 660000
 | index: 780000
 | index: 910000
 | index: 1050000
 | index: 1200000
 | index: 1360000
 | index: 1530000
 | index: 1710000
 | index: 1900000
 | index: 2100000
 | index: 2310000
 | index: 2530000
 | index: 2760000
 | index: 3000000
 | index: 3250000
 | index: 3510000
 | index: 3780000
 | index: 4060000
 | index: 4350000
 | index: 4650000
 | index: 4960000
 | index: 5280000
 | index: 5610000
 | index: 5950000
 | index: 6300000
 | index: 6660000
 | index: 7030000
 | index: 7410000
 | index: 7800000
 | index: 8200000
 | index: 8610000
 | index: 9030000

/home/arlisscoates/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

 | index: 9460000
 | index: 9900000
 | index: 10350000
 | index: 10810000
 | index: 11280000
 | index: 11760000
 | index: 12250000
 | index: 12750000
 | index: 13260000
 | index: 13780000

/home/arlisscoates/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

 | index: 14310000
 | index: 14850000
 | index: 15400000
 | index: 15960000
 | index: 16530000
 | index: 17110000
 | index: 17700000
 | index: 18300000
 | index: 18910000
 | index: 19530000
 | index: 20160000
 | index: 20800000
 | index: 21450000

/home/arlisscoates/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0,19,118) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

 | index: 22110000
 | index: 22780000
 | index: 23460000
 | index: 24150000
 | index: 24850000
 | index: 25560000
 | index: 26280000
 | index: 27010000
 | index: 27750000
 | index: 28500000

/home/arlisscoates/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (129,130,131,134,135,136,139,145,146,147) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

 | index: 29260000
 | index: 30030000

/home/arlisscoates/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (145,146,147) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

 | index: 30810000
 | index: 31600000
 | index: 32400000
 | index: 33210000
 | index: 34030000
 | index: 34860000
 | index: 35700000
 | index: 36550000
 | index: 37410000
 | index: 38280000

/home/arlisscoates/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0,129,130,131,134,135,136,139) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

 | index: 39160000
 | index: 40050000
 | index: 40950000
 | index: 41860000
 | index: 42780000
 | index: 43710000
 | index: 44650000
 | index: 45600000
 | index: 46560000
 | index: 47530000
 | index: 48510000

/home/arlisscoates/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0,118) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

 | index: 49500000
 | index: 50500000
 | index: 51510000
 | index: 52530000
 | index: 53560000
 | index: 54600000
 | index: 55650000
 | index: 56710000
 | index: 57780000
 | index: 58860000
 | index: 59950000
 | index: 61050000
 | index: 62160000

/home/arlisscoates/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0,59) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

 | index: 63280000
 | index: 64410000
 | index: 65550000
 | index: 66700000
 | index: 67860000
 | index: 69030000
 | index: 70210000
 | index: 71400000
 | index: 72600000
 | index: 73810000
 | index: 75030000
 | index: 76260000
 | index: 77500000
 | index: 78750000
 | index: 80010000
 | index: 81280000
 | index: 82560000
 | index: 83850000
 | index: 85150000
 | index: 86460000
 | index: 87780000
 | index: 89110000

/home/arlisscoates/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (129,130,131,134,135,136,139) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

 | index: 90450000
 | index: 91800000

/home/arlisscoates/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0,19,129,130,131,134,135,136,139,145,146,147) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

 | index: 93160000
 | index: 94530000
 | index: 95910000
 | index: 97300000
 | index: 98700000
 | index: 100110000
 | index: 101530000
 | index: 102960000
 | index: 104400000
 | index: 105850000
 | index: 107310000
 | index: 108780000
 | index: 110260000
 | index: 111750000
 | index: 113250000
 | index: 114760000
 | index: 116280000
 | index: 117810000
 | index: 119350000
 | index: 120900000
 | index: 122460000
 | index: 124030000
 | index: 125610000
 | index: 127200000
 | index: 128800000
 | index: 130410000

/home/arlisscoates/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0,49,59,118,129,130,131,134,135,136,139) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

 | index: 132030000
 | index: 133660000
 | index: 135300000
 | index: 136950000

/home/arlisscoates/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0,19,59,118,129,130,131,134,135,136,139) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

 | index: 138610000
 | index: 140280000

/home/arlisscoates/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (118) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

 | index: 141960000
 | index: 143650000
 | index: 145350000
 | index: 147060000
 | index: 148780000
 | index: 150510000
 | index: 152250000
 | index: 154000000

/home/arlisscoates/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0,49,59,129,130,131,134,135,136,139) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

 | index: 155760000

/home/arlisscoates/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

 | index: 157530000
 | index: 159310000
 | index: 161100000
 | index: 162900000
 | index: 164710000
 | index: 166530000
 | index: 168360000
 | index: 170200000
 | index: 172050000
 | index: 173910000
 | index: 175780000
 | index: 177660000
 | index: 179550000
 | index: 181450000
 | index: 183360000
 | index: 185280000
 | index: 187210000
 | index: 189150000
 | index: 191100000
 | index: 193060000
 | index: 195030000
 | index: 197010000
 | index: 199000000
 | index: 201000000
 | index: 203010000
 | index: 205030000
 | index: 207060000
 | index: 209100000
 | index: 211150000
 | index: 213210000
 | index: 215280000
 | index: 217360000
 | index: 219450000
 | index: 221550000
 | index: 223660000
 | index: 225780000
 | index: 227910000
 | index: 230050000
 | index: 232200000
 | index: 234360000
 | index: 236530000
 | index: 238710000
 | index: 240900000
 | index: 243100000
 | index: 245310000
 | index: 247530000
 | index: 249760000
 | index: 252000000
 | index: 254250000
 | index: 256510000
 | index: 258770701

In [ ]:
pd.read_sql_query('SELECT * FROM ')